a {
    font-family: "arial";
    color: #006699;
    text-decoration: none;
}

a:hover {
	background-color: #E3E3E3;
}

body {
  font: 10px sans-serif;
}

h1 {
	font-family: sans-serif
}

h2 {
	font-family: sans-serif
}

h4 {
	font-family: sans-serif
}
