{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'codesample/style.css' %}" />
<script type="text/javascript" src="{% static 'codesample/d3/d3.min.js' %}"></script>

<table width=100% style="border: 1px solid black;">
    <tr>
        <td style="width:190">
            <img src='../static/codesample/images/aglogo.png' width=150 border=1>
        </td>
        <td  style="text-align:left">
            <table width=100% >
                <tr>
                    <td width=20% style="text-align:left; vertical-align:top">
                        <b>Upload CSV</b>
                        <form method="post" enctype="multipart/form-data" action="{% url 'codesample:uploadfile' %}">
                            {% csrf_token %}
                            <input type="file" name="csvfile">
                            <br>
                            <button type="submit">Upload</button>
                        </form>
                   </td>
                   <td width=20% style="text-align:left; vertical-align:top">
                         <b>Sample CSV</b>
                         <form method="post" enctype="multipart/form-data" action="{% url 'codesample:downloadsamplefile' %}">
                            {% csrf_token %}
                            <button type="submit">Download</button>
                        </form>
                    </td>
                    <td  style="text-align:right; vertical-align:top">
                        <a href="http://127.0.0.1:8000/admin" target="_">Admin</a>
                        &nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<h1>Wait Times - CSV FILE NAME HERE-- {{ csvfilename }} </h1> 
 
{% if wait_time_list %}
    <ul>
    {% for wt in wait_time_list %}
        <li>{{ wt.visit_date }},  {{ wt.patient_type }},  {{ wt.wait_time }} min</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No wait times are available.</p>
{% endif %}







<script>
    document.addEventListener('DOMContentLoaded', function(){
    drawChart();
    alert("blabbo - loaded page now");
});
</script>

<script type="text/javascript" src="{% static 'codesample/barchart.js' %}"></script>


<hr>
